<h1>Model Upload</h1>
<div class="alert alert-success col-sm-6" id="alertSuccess" style="display: none">Model successfully uploaded.</div>
<div class="alert alert-danger col-sm-6" id="alertFail" style="display: none">Error during file upload.</div>
<div class="col-sm-12">
    <div class="col-sm-6" id="loadingGif" style="display: none;"><img src="../img/static/loading.gif" alt=""/></div>
</div>
<div class="col-sm-12">
<form class="form-horizontal" role="form" data-ng-submit='uploadFile()' data-ng-controller="UploadFileCtrl">
    <span class="btn btn-default btn-file">
        <input type='file' id='uploadFile'>
        <i class="glyphicon glyphicon-open-file"></i> Choose File
    </span>
    <input class="btn btn-default" type='submit' value='Preview' id="uploadButton">
</form>

<img src="#" id="uploadPreview" style="display: none"/>
<!--<button id="refreshPage" class="btn btn-default col-sm-6" ng-click="refr()" role="button">Not what you were looking for? Try again.</button>-->
</div>
