<div class="col-sm-12">
    <h1>
        Project: {{project.title}}
        <a class="btn btn-primary pull-right" href="#/uploadFile"><i
                class="icon-plus-sign icon-white"></i> Upload Model
        </a>
    </h1>
</div>

<div class="col-sm-6">
    <h4>Details</h4>
    <hr>
    <p><b>_id:</b> {{project.id}}</p>
    <p><b>Owner:</b> {{project.owner}}</p>

    <p><b>Created On:</b> {{project.createdOn}}</p>

    <p><b>TO DO - add more details???</b></p>
</div>

<div class="col-sm-6">
    <h4>Models List</h4>
    <hr>
</div>

<div class="col-sm-12">
    <h4>Quick Preview</h4>
    <hr>
</div>