<div class="bg-grey">
    <div class="col-sm-12">
        <h1>
            Project: {{project.title}}
            <a class="btn btn-primary pull-right" href="#/uploadFile/{{project.id}}"><i
                    class="icon-plus-sign icon-white"></i> Upload Model
            </a>
        </h1>
    </div>
    <div class="container-fluid">

        <div class="col-sm-4">
            <h4>Details</h4>
            <hr>
            <table class="table table-hover">
                <tr>
                    <td><b>Id: </b></td>
                    <td>{{project.id}}</td>
                </tr>
                <tr>
                    <td><b>Owner: </b></td>
                    <td>{{project.owner}}</td>
                </tr>
                <tr>
                    <td><b>Created On: </b></td>
                    <td>{{project.createdOn |date:'medium'}}</td>
                </tr>
            </table>

            <h4>Child/Parent list</h4>
            <hr>
            <table class="table table-hover">
                <th>
                    Parent
                </th>
                <th>
                    Children
                </th>
                <tr ng-repeat="a in assemblies">
                    <td>{{a.title}}</td>
                    <td>
                        {{a.childModels}}
                    </td>
                </tr>
            </table>


        </div>

        <div class="col-sm-8">
            <h4>Uploaded Models List</h4>
            <hr>
            <table class="table table-hover">
                <th>
                    #
                </th>
                <th>
                    Model name
                </th>
                <th>
                    Model type
                </th>
                <th>
                    Preview image
                </th>
                <th>
                    Created on
                </th>
                <th>
                    3D Preview
                </th>
                <tr class="" ng-repeat="m in models">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{m.title}}
                    </td>
                    <td>
                        {{m.modelType}}
                    </td>
                    <td>
                        {{m.createdOn |date:'medium'}}
                    </td>
                    <td>
                        <img class="img-responsive" src="{{m.localPreviewPath}}" alt="Preview Image"/>
                    </td>

                    <td>
                        <a class="btn btn-sm btn-primary" href="#">
                            <i class="icon-plus-sign icon-white"></i>
                            3D Preview
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="col-sm-12">
            <h4>Quick Preview</h4>
            <hr>
        </div>
    </div>
</div>